*{
    margin : 0;
    padding : 0;
}
header{
    background-color :#fff ;
    color : rgb(44, 62, 80);
}
header h1{
    padding : 0.5rem;
    text-transform : uppercase;
    text-align : center;
}
header ul{
    display : flex;
    list-style-type :none;    
}
header ul li{
    padding : 1rem 3rem;
    margin: 0.08rem;
    text-transform : uppercase;
    font-size : 1rem;
    font-weight :bold;
}
header ul li:hover{
    background-color:rgb(44, 62, 80);
    color : #fff;
}
header ul li i{
    font-size : 1rem;
    padding : 0.3rem 0 0 0.2rem;
}
body{
    height : 100vh;
    width : 100%;
    background-color : rgb(52, 73, 94);
    overflow : hidden;
}
table{
    height : 80%;
    width : 90%;
    margin : 1em auto;
    border-collapse : collapse;
    box-shadow : 3px 3px 3px 3px rgba(0,0,0,0.0);
}
tr {
    background-color : #fff;
    border : 1px solid rgb(10, 236, 214);
}
td{
    height : 28px ;
    width : 28px;
    border : 1px solid rgb(10, 236, 214);
}
.unvisisted{
    background-color : #fff;
}
.visited{
    background-color : rgb(100, 36, 153)
}
.walls{
    background-color :rgba(194, 54, 22,1.0);
}