*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
#container{
    border-collapse : collapse;
    margin: 5em auto;
    border:1px solid #000;
}
td{
    border:1px solid #000;
    width : 40px;
    height : 40px;
}
.visited{
    background-color : red;
}