*{
    margin : 0;
    padding : 0;
    font-family : 'Roboto',sans-serif;
}
body{
    height : 110vh;
    width : 100%;
    background-color : rgb(38, 222, 129);
    overflow-x : hidden;
}
header{
    background-color :rgb(32, 191, 107) ;
    color : #fff;
}
header h2{
    padding : 0.5rem;
    text-transform : uppercase;
    text-align : center;
}
header ul{
    display : flex;
    list-style-type :none;
    display :flex;
    align-items :center;
    text-align :center;
    justify-content :center;

}
header ul li{
    padding : 0.9rem;
    margin: 0.5rem 3rem;
    text-transform : uppercase;
    font-size : 1rem;
    font-weight :bold;
    cursor : pointer;
}
header ul li:nth-child(3){
    background-color : #fff;
    color : rgb(32, 191, 107);
}
header ul li:hover{
    border:1px solid rgb(255,255,255);
    color : rgb(255,255,255);
    font-weight : bold;
}
header ul li:nth-child(3):hover{
    color : rgb(32, 191, 107);
    font-weight : bold;
}
header ul li i{
    font-size : 1rem;
    padding : 0.3rem 0 0 0.2rem;
}
table{
    height : 10rem;
    width : 78.125rem;
    margin : 1.5em auto;
    border-collapse : collapse;
    box-shadow : 2px 1.5px 2px 1.5px rgba(255,255,255,1);
}
tr {
    background-color : #fff;
    border : 1px solid rgb(38, 222, 129);
}
td{
    height :1.7rem;
    width : 1.75rem;
    border : 1px solid rgb(38, 222, 129);
}
.unvisisted{
    background-color : #fff;
}
.visited{
    background-color : rgb(100, 36, 153)
}
.walls{
    background-color :rgba(194, 54, 22,1.0);
}
.start{
    height : 23px;
    width : 23px;
    background-image : url('../images-icons/start-node.svg');
    background-size : cover;
    background-repeat : no-repeat;
    background-position : center;
    cursor : pointer;
    margin-left : 0.2rem;
}
.target{
    height : 23px;
    width : 23px;
    background-image : url('../images-icons/circle.svg');
    background-size : cover;
    background-repeat : no-repeat;
    background-position : center;
    cursor : pointer;
    margin-left : 0.2rem;
}